*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#background{
    background-image: url(../img/band-background.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -5;
    position: fixed;
}
#background-color{
    background-color: rgba(0, 0, 0, 0.67);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -4;
}
a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

main {
    width: 100%;
    height: 100vh;
}

/* -------------------------------------------------------------header------------------------------------------------------------------- */

header {
    width: 60%;
    height: 70px;
    margin: 0 auto;
}

header>nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

header>nav>ul {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
}

header>nav>ul>li {
    height: 100%;
    margin-right: 5%;
}

header>nav>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b8adaf;
    text-transform: uppercase;
    font-size: 13px;
    transition: .3s;
}

header>nav>ul>li>a:hover {
    color: white;
}

header>nav>h1 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-transform: uppercase;
    /* font-family: 'Courier New', Courier, monospace; */
    cursor: pointer;
}

/* -------------------------------------------------------------content------------------------------------------------------------------- */

.content{
    width: 100%;
    height: auto;
    margin-top: 3%;
}

/* --------------------------------section1----------------------------------- */

#sec-1{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec-1>h1{
    color: white;
    text-transform: uppercase;
    font-size: 45px;
}

/* --------------------------------section2----------------------------------- */

#sec-2{
    width: 50%;
    height: 610px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
#sec-2>div{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #b8adaf63;
}
#sec-2>div>p:nth-of-type(1){
    color: #B9B4B5;
    font-size: 14px;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#sec-2>div>h3{
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#sec-2>div>p:nth-of-type(2){
    color: #B9B4B5;
    font-size: 14px;
    text-transform: capitalize;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#sec-2>div>span{
    font-size: 12px;
    color: #F0E567;
    text-transform: capitalize;
    border: 1px solid #F0E567;
    padding: 5px 15px;
    margin-right: 20px;
    transition: .3s;
    cursor: pointer;
}
#sec-2>div>span:hover{
    color: white;
    border: 1px solid white;
}

/* -------------------------------------------------------------footer------------------------------------------------------------------- */

footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.icons{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons>figure>img{
    width: 25px;
    cursor: pointer;
}
.icons>figure:nth-of-type(2){
    margin: 0px 5px 0px 10px;
}
.icons>figure:nth-of-type(3){
    margin: 0px 10px 0px 5px;
}
footer>section:nth-of-type(2){
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
footer>section:nth-of-type(2)>p{
    color: #b8adaf;
    text-transform: capitalize;
    font-size: 15px;

}